@import '@ppzp/stylus'

.btn
  user-select: none
  display: inline-block
  cursor: pointer

button.btn
  line-height: 1
  padding: .6rem 1rem
  border: none
  outline: none
  border-radius: .26rem
  &:not(.strong)
    background-color: text(a: .05)
    &:not(.danger)
      color: primary()
    &.danger
      color: danger()
  &.strong
    color: n-text()
    &:not(.danger)
      background-color: primary()
    &.danger
      background-color: danger()

a.btn
  text-decoration: none
  &:not(.danger)
    color: primary()
  &.danger
    color: danger()
  &:hover
    text-decoration: underline