@import '@ppzp/stylus'

.btn
  user-select: none
  display: inline-block
  cursor: pointer
  &:not(.error):active
    opacity: .8
button.btn
  line-height: 1
  padding: .6rem 1rem
  border: none
  outline: none
  border-radius: 4px
  color: #303133
  background: #f4f5f6
  &.danger:active
    color: #fff
    background: $red
a.btn
  text-decoration: none
  color: var(--ppz-anchor-color, )
  &:hover
    text-decoration: underline
  &.danger:active
    color: var(--ppz-anchor-color-danger, $red)