@import '@ppzp/stylus'

.hr
  display: flex
  align-items: center
  color: text(a: .3)
  &::before, &::after
    content: ''
    flex: 1
    height: 1px
    background-color: currentColor
  &::before
    margin-right: 1rem
  &::after
    margin-left: 1rem